@model Product
    <div class="container">
<div class="row mb-5">
    @if (Model.ProductImages != null)
    {
        @foreach (ProductImage productImage in Model.ProductImages.Where(pi => !pi.IsDeleted))
        {
            <div class="justify-content-between">
                <div class="col-lg-2" style="position:relative;">
                    <img style=" max-width:240px;min-width:240px;max-height:120px;min-height:120px; border:2px solid gray; border-radius:5px" src="~/user/assets/img/product/@productImage.Image" alt="Alternate Text" />
                    @if (Model.ProductImages.Count() > 1)
                    {
                        <a class="btn btn-danger btn-circle btn-sm" id="deleteImage" asp-action="DeleteImage" asp-route-id="@productImage.Id" style="position:absolute;  bottom:0px;  font-size:0.7rem; opacity:0.9"><i class="fas fa-trash"></i></a>
                    }

                </div>
            </div>
            
        }
    }
</div>

    </div>
<div class="text-danger" asp-validation-summary="ModelOnly"></div>
<div class="row justify-content-lg-center">
    <div class="col-lg-8">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" placeholder="Enter Title">
                <span class="text-danger" asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input class="form-control" asp-for="Price" placeholder="Enter Price">
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice"></label>
                <input class="form-control" asp-for="DiscountPrice" placeholder="Enter DiscountPrice">
                <span class="text-danger" asp-validation-for="DiscountPrice"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description" placeholder="Enter Description"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count"></label>
                <input class="form-control" asp-for="Count" placeholder="Enter Count">
                <span class="text-danger" asp-validation-for="Count"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainImageFile"></label>
                <input class="form-control" accept="image/jpeg" asp-for="MainImageFile" placeholder="Enter MainImage">
                <img style="object-fit:contain; max-width:120px;min-width:120px; border:2px solid gray; border-radius:5px" src="~/user/assets/img/product/@Model.MainImage" alt="Alternate Text" />
                <span class="text-danger" asp-validation-for="MainImageFile"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImagesFile"></label>
                <input class="form-control" accept="image/jpeg" asp-for="ProductImagesFile" placeholder="Enter ProductImagesFile">
                <span class="text-danger" asp-validation-for="ProductImagesFile"></span>
            </div>


            <div class="form-group">
                <label asp-for="TagIds"></label>
                <select class="form-control" asp-for="TagIds" asp-items="@new SelectList(ViewBag.Tags, nameof(Tag.Id), nameof(Tag.Name))">
                    
                </select>
                <span class="text-danger" asp-validation-for="TagIds"></span>
            </div>

            <div class="form-group">
                <label asp-for="ColorIds"></label>
                <select class="form-control" asp-for="ColorIds" asp-items="@new SelectList(ViewBag.Colors, nameof(Color.Id), nameof(Color.Name))">
                    
                </select>
                <span class="text-danger" asp-validation-for="ColorIds"></span>
            </div>
            <div class="form-group">
                <label asp-for="SizeIds"></label>
                <select class="form-control" asp-for="SizeIds" asp-items="@new SelectList(ViewBag.Sizes, nameof(Size.Id), nameof(Size.Name))">
                   
                </select>
                <span class="text-danger" asp-validation-for="SizeIds"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId"></label>
                <select class="form-control" asp-for="BrandId" asp-items="@new SelectList(ViewBag.Brands, nameof(Brand.Id), nameof(Brand.Name))">
                    <option value="" selected>Choose...</option>
                </select>
                <span class="text-danger" asp-validation-for="BrandId"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="@new SelectList(ViewBag.Categories, nameof(Category.Id), nameof(Category.Name))">
                    <option value="" selected>Choose...</option>
                </select>
                <span class="text-danger" asp-validation-for="CategoryId"></span>
            </div>
            
             <a class="btn btn-danger" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

</div>

